.all {
    background-image: url('./art.jpg');
    /* width: max-content; */
    object-fit: fill;
    height: 100vh;
    min-width: 200vh;
    max-width: 400vh;
}


/* .login {
    position: relative;
    top: 500px;
} */