.card-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
    margin-top: 7%;
}

.html {
    /* background-color: rgba(224, 202, 202, 0.993); */
}

.action-movie-div {
    display: flex;
}

.height-page {
    height: 300vh;
    /* background-color: rgba(184, 180, 180, 0.993); */
}

.home-land {
    /* width: 1700px; */
    height: 900px;
    background-position: center center;
    background-size: cover;
    background-image: url("");
    z-index: -1;
}

.action-movie-div-1 {
    display: flex;
    position: absolute;
    left: 5%;
    /* background-color: rgba(14, 13, 13, 0.993); */
    /* border: 2rem solid inherit; */
    top: 800px;
}

.action-movie-title {
    color: rgb(248, 246, 246);
    position: relative;
    top: -200px;
    left: 5%;
    background-color: inherit;
    line-height: 1.15vw;
    font-size: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 22px; */
    width: 1500px;
}

.horror-movie-div {
    display: flex;
    position: absolute;
    /* background-color: black; */
    border: 1rem solid rgb(22, 20, 20);
    top: 130%;
    left: 5%;
}

.horror-movie-title {
    color: rgb(247, 247, 247);
    position: relative;
    top: 15px;
    left: 5%;
    /* background-color: rgba(15, 15, 15, 0.993); */
    /* font-size: 22px; */
    width: 1500px;
    line-height: 1.15vw;
    font-size: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;
}

.comedies-movie-div {
    display: flex;
    position: absolute;
    background-color: black;
    border: 1rem solid rgb(22, 20, 20);
    top: 1260px;
    left: 5%;
}

.comedies-movie-title {
    color: rgb(247, 247, 247);
    position: relative;
    top: 230px;
    left: 5%;
    /* background-color: rgba(15, 15, 15, 0.993); */
    line-height: 1.15vw;
    font-size: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 22px; */
    width: 1500px;
}

.kids-movie-div {
    display: flex;
    position: absolute;
    background-color: black;
    border: 1rem solid rgb(22, 20, 20);
    top: 1500px;
    left: 5%;
}

.kids-movie-title {
    color: rgb(247, 247, 247);
    position: relative;
    top: 450px;
    left: 5%;
    /* background-color: rgba(15, 15, 15, 0.993); */
    /* font-size: 22px; */
    line-height: 1.15vw;
    font-size: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;
    width: 1500px;
}

.tv-movie-div {
    display: flex;
    position: absolute;
    background-color: black;
    border: 1rem solid rgb(22, 20, 20);
    top: 1740px;
    left: 5%;
}

.tv-movie-title {
    color: rgb(247, 247, 247);
    position: relative;
    top: 660px;
    left: 5%;
    /* background-color: rgba(15, 15, 15, 0.993); */
    line-height: 1.15vw;
    font-size: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 22px; */
    width: 1500px;
}

.thriller-movie-div {
    display: flex;
    position: absolute;
    background-color: black;
    border: 1rem solid rgb(22, 20, 20);
    top: 2000px;
    left: 5%;
}

.thriller-movie-title {
    color: rgb(247, 247, 247);
    position: relative;
    top: 910px;
    left: 5%;
    /* background-color: rgba(15, 15, 15, 0.993); */
    line-height: 1.15vw;
    font-size: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 22px; */
    width: 1500px;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%;
    z-index: 0;
    /* 720 / 1280 = 0.5625 */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}


/* .black-bottom {
    position: relative;
    top: 800px;
    background-color: black;
    width: 1700px;
    height: 3000px;
    z-index: -2;
} */


/* .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 2px;
    padding: 10px;
}

.grid-container>div {
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
} */


/* .outer-category {
    /* background-color: yellow; */


/* width: 100vw; */


/* } */


/* .outer-movie {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
} */


/* .inner-movie { */


/* background-color: yellow; */


/* width: 15vw;
    height: 20vh;
} */


/* .inner-movie:hover {
    width: 20vw;
    height: 35vh;
} */


/* .inner-video {} */