.logging-out {
    background: #1a73e8;
    border: 1px solid transparent;
    color: white;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: .25px;
    line-height: 18px;
    height: 42px;
    width: 90px;
    text-align: center;
    /* padding: 9px 23px; */
    vertical-align: middle;
    border-radius: 80px 50px / 180px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 0.33%;
}

.logging-out:hover {
    background: #6097df;
}

.edge-btns_out {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 10px;
}

.watchlist-number {
    /* height: 20px; */
    /* width: 30px; */
    display: flex;
    justify-content: center;
    /* background-color: rgb(12, 146, 12); */
    border-radius: 200px;
    font-size: 15px;
    /* z-index: 1; */
    /* margin-left: 100px; */
    /* position: absolute; */
    /* top: 20%; */
}