.outer-signup-modal {
    width: 550px;
    height: 550px;
    background-color: rgb(255, 253, 253);
    /* -webkit-filter: blur(3px); */
    /* -moz-filter: blur(3px); */
    /* -o-filter: blur(3px); */
    /* -ms-filter: blur(3px); */
    /* filter: blur(3px); */
    /* position: fixed; */
}

.outer-signup-modal input {
    width: 400px;
    height: 70px;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(232, 240, 254) !important;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    /* padding-right: 20px; */
    /* color: -internal-light-dark(black, white) !important; */
}

input {
    padding-left: 3.5%;
}

.btn button {
    width: 408px;
    height: 70px;
    position: relative;
    top: 30px;
    left: 70px;
    background-color: rgb(99, 155, 204);
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

::placeholder {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}

.size {
    position: relative;
    top: 10%;
}

.signin-tag {
    color: rgb(99, 155, 204);
    position: relative;
    top: -15px;
    left: 13%;
    font-family: Arial, Helvetica, sans-serif;
}