.div-nav {
    position: static;
    width: auto;
    margin: auto;
    min-width: 1008px;
}

.cutter-edge_div {
    width: 1008px;
    margin: auto;
}

.top-rapper {
    /* margin-top: 30%; */
    /* border-right: 3px solid rgb(241, 237, 237); */
    background-image: url(../../images/movietrackerLogo.png);
    background-repeat: no-repeat;
    background-position: center;
    /* display: inline; */
    /* justify-content: flex-start; */
    height: 400px;
}

.outer-movielist_div {
    margin-right: 85%;
    margin-left: 20%;
    margin-bottom: -10%;
    background-color: rgba(102, 102, 101, 0.09);
    width: 60%;
    height: 100%;
    border-top: none;
    padding: 0px 21px 2px 2px;
    box-shadow: none;
    /* margin: 0; */
}

.movie-class_div {
    margin: 2px;
    padding-right: 75%;
    border: 2px solid #fff;
    -moz-box-shadow: inset 10px 10px 400px #fff;
    -webkit-box-shadow: inset 10px 10px 400px #fff;
    box-shadow: inset 10px 10px 400px #fff;
}

.div-rapper {
    position: static;
    width: auto;
    margin: auto;
    min-width: 1008px;
    box-sizing: border-box;
    display: block;
    z-index: 0;
}

.movie-name_div {
    color: #136cb2;
    margin-left: 53%;
    position: relative;
    top: -220px;
}

.container-div_movies {
    /* display: inline-block; */
}

.rate {
    position: relative;
    bottom: 60px;
    margin-right: 38.9%;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    /* cursor: pointer; */
    font-size: 30px;
    color: #FFC700;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}


/* 
.rate>input {
    color: #FFC700;
}

.rate>label,
.rate>label~label {
    color: #DEB217;
}

.rate>input+label,
.rate>input+label~label,
.rate>input~label,
.rate>input~label~label,
.rate>label~input~label {
    color: #C59B08;
} */