.nav-is_nav {
    background-color: rgb(220, 235, 222);
    filter: drop-shadow(16px 16px 20px rgb(28, 134, 233));
    height: 55px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}

ul.nav {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 36px;
    line-height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    /* -webkit-box-shadow: 0px 1px 1px #b3e6bc;
    -moz-box-shadow: 0px 1px 1px #b3e6bc;
    box-shadow: 0px 1px 1px #b3e6bc; */
}

ul.nav li {
    float: left;
    cursor: pointer;
}

ul.nav a {
    display: block;
    padding: 10px;
    /* color: #506161; */
    text-decoration: none;
}

ul.nav a:hover,
ul.nav li.current a {
    /* background-color: antiquewhite; */
    /* border-bottom: 0.1px solid black; */
    /* border: 1rem solid rgb(22, 20, 20); */
}

.signin-btn {
    background: #1a73e8;
    border: 1px solid transparent;
    color: white;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: .25px;
    line-height: 18px;
    height: 39px;
    width: 100px;
    text-align: center;
    /* padding: 9px 23px; */
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0.3%;
}

.signin-btn:hover {
    background: #6097df;
}

.sig .btn-padding {
    /* display: flex; */
    /* justify-content: flex-end; */
    /* margin-right: 2%; */
}

.signup-btn {
    background: #1a73e8;
    border: 1px solid transparent;
    color: white;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: .25px;
    line-height: 18px;
    height: 39px;
    width: 90px;
    text-align: center;
    /* padding: 9px 23px; */
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0.33%;
}

.signup-btn:hover {
    background: #6097df;
}

.btn-padding_signup {
    margin-right: 6%;
}

.active {
    color: rgb(0, 0, 0);
    margin-left: 15%;
}

.active:hover {
    text-decoration: underline;
}